.heatmap-chooser>div {
	margin: 0 !important;
	text-align: center;
}

.heatmap-infodis>div {
	margin: 0 !important;
	text-align: center;
}

.heatmap-chooser .season input {
	background: transparent;
	border: none;
	width: 70px;
	font-weight: bold;
	font-size: 14pt;
}

.heatmap-chooser .date input {
	background: transparent;
	border: none;
	width: 120px;
	font-weight: bold;
	font-size: 14pt;
}

.heatmap-chooser .season input:focus {
	outline: none;
}

.heatmap-infodis .theater {
	text-align: center;
}

.heatmap-infodis .play {
	text-align: center;
}
