
input, .date, .play {
	font-family: "MuseoSans300", sans-serif;
}

.theater {
	font-family: "Museo500", serif;
}

.map {
	fill: #159489;
}

.line {
	stroke: #159489;
}

.map:hover {
	cursor: pointer;
	fill: yellow;
}

.line:hover {
	cursor: pointer;
	stroke: yellow;
}

#legend::before {
	content: 'Ventes importantes';
	float: top;
	font-size: 10px;
	margin-left: 25px;
	margin-top: -10px;
}

#legend::after {
	content: 'Ventes faibles';
	display: block;
	font-size: 10px;
	margin-left: 30px;
	margin-top: 10px;
}