body {
	margin: 0px;
	width: 100%;
}

input, .date, .play {
	font-family: "MuseoSans300", sans-serif;
}

.theater {
	font-family: "Museo500", serif;
}

#legend {
	display: block;
	margin: auto;
}

#legend::before {
	content: 'VENTES IMPORTANTES';
	float: top;
	font-size: 10px;
	margin-left: 50%;
	margin-top: 10px;
}

#legend::after {
	content: 'VENTES FAIBLES';
	display: block;
	float: bottom;
	font-size: 10px;
	margin-left: 50%;
	margin-top: 10px;
}

.legendsvg {
	display: block;
	margin: auto;
}