#heatmap {

	min-height: 500px;
	width: 100%;
}

.heatmap-chooser {
	background-color: #A4D3B7;
	padding: 5px;
	padding-top: 20px;
	height: 45px;
}

.heatmap-infodis {
	background-color: #A4D3B7;
	padding: 5px;
	padding-bottom: 15px;
}

.heatmap-chooser>div {
	margin: auto;
/*	text-align: center;*/
}

.heatmap-infodis>div {
	margin-left: 0 !important;
	text-align: center;
}

.heatmap-chooser .season input {
	background: transparent;
	border: none;
	cursor: pointer;
	max-width: 80px;
	padding: 0px;
	font-weight: bold;
	font-size: 12pt;
	text-align: center;
	border-bottom: 2px dashed rgb(149,211,179);
}

.heatmap-chooser .season input:hover {
	border-bottom: 2px dashed blue;
}

.heatmap-chooser .date input:hover {
	border-bottom: 2px dashed blue;
}

.heatmap-chooser .date input {
	background: transparent;
	border: none;
	width: 120px;
	font-weight: bold;
	font-size: 12pt;
	border-bottom: 2px dashed rgb(149,211,179);
}

.heatmap-chooser .season input:focus {
	outline: none;
}

.heatmap-chooser .columns {
	padding: 1px;
}

.heatmap-infodis .theater {
	text-align: center;
}

.heatmap-infodis .play {
	text-align: center;
}

.slider-box {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	margin-top: 12px;
}


.heatmap-chooser {
	display: none;
}

.heatmap-infodis {
	display: none;
}
