.heatmap-chooser {
	background-color: #A4D3B7;
	padding: 5px;
}

.heatmap-infodis {
	background-color: #A4D3B7;
	padding: 5px;
}

.heatmap-chooser>div {
	margin: auto;
	text-align: center;
}

.heatmap-infodis>div {
	margin-left: 0 !important;
	text-align: center;
}

.heatmap-chooser .season input {
	background: transparent;
	border: none;
	cursor: pointer;
	max-width: 80px;
	padding: 0px;
	font-weight: bold;
	font-size: 10pt;
	text-align: center;
}

.heatmap-chooser .season input:hover {
	border-bottom: 1px dashed red;
}

.heatmap-chooser .date input {
	background: transparent;
	border: none;
	width: 120px;
	font-weight: bold;
	font-size: 10pt;
}

.heatmap-chooser .season input:focus {
	outline: none;
}

.heatmap-chooser .columns {
	padding: 1px;
}

.heatmap-infodis .theater {
	text-align: center;
}

.heatmap-infodis .play {
	text-align: center;
}

.slider-box {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	margin-top: 12px;
}
