
#legend {
	display: block;
	margin: auto;
}

#heatmap {
	border: 1px solid #ACD8CE;
	display: block;
	height: 65%;
	min-height: 65%;
}

.visualization {
	margin: 10px;
}

.section {
	fill: #159489;
}

.line {
	stroke: #159489;
}

.rect {
	fill: #159489;
}

.arc {
	fill: #159489;
}

.section {
	cursor: pointer !important;
}

.ui-widget-shadow {
	opacity: 1 !important;
}
